/**
 * Custom CSS styles used by the add-on.
 */

/* Styles used on Plugin Settings page and in Membership Settings */

#wpwrap .ms-settings-addon_attribute .memberdash-wrapper,
.memberdash-wnd.attribute-editor .memberdash-wrapper {
	position: relative;
	display: block;
	border-top: 1px solid #e5e5e5;
	margin-top: 0;
	margin-bottom: 6px;
	padding-top: 6px;
}

#wpwrap .ms-settings-addon_attribute  .memberdash-wrapper:first-child,
.memberdash-wnd.attribute-editor .memberdash-wrapper:first-child {
	border: 0;
	padding-top: 0;
}

#wpwrap .ms-settings-addon_attribute  .memberdash-field-label,
#wpwrap .ms-settings-addon_attribute  .memberdash-field-description,
.memberdash-wnd.attribute-editor .memberdash-field-label,
.memberdash-wnd.attribute-editor .memberdash-field-description {
	width: 40%;
	margin-top: 0;
}

#wpwrap .ms-settings-addon_attribute  .memberdash-field-select,
#wpwrap .ms-settings-addon_attribute  input.memberdash-field-input,
#wpwrap .ms-settings-addon_attribute  textarea.memberdash-field-input,
.memberdash-wnd.attribute-editor .memberdash-field-select,
.memberdash-wnd.attribute-editor input.memberdash-field-input,
.memberdash-wnd.attribute-editor textarea.memberdash-field-input {
	position: absolute;
	width: 58%;
	top: 4px;
	right: 0;
	min-width: 100px;
}

#wpwrap .ms-settings-addon_attribute  .memberdash-radio-slider-wrapper .memberdash-radio-slider,
.memberdash-wnd.attribute-editor .memberdash-radio-slider-wrapper .memberdash-radio-slider {
	position: absolute;
	top: 4px;
	right: 25px;
}

#wpwrap .ms-settings-addon_attribute  .memberdash-radio-slider-wrapper .memberdash-label-before,
.memberdash-wnd.attribute-editor .memberdash-radio-slider-wrapper .memberdash-label-before {
	position: absolute;
	top: 4px;
	right: 70px;
	width: 20px;
	text-align: right;
	margin-right: 0;
}

#wpwrap .ms-settings-addon_attribute  .memberdash-radio-slider-wrapper .memberdash-label-after,
.memberdash-wnd.attribute-editor .memberdash-radio-slider-wrapper .memberdash-label-after {
	position: absolute;
	top: 4px;
	right: 0;
	width: 20px;
	margin-right: 0;
	margin-left: 0;
}

#wpwrap .ms-settings-addon_attribute  .memberdash-wrapper:first-child .memberdash-field-input,
.memberdash-wnd.attribute-editor .memberdash-wrapper:first-child .memberdash-field-input {
	top: 0;
}

/* Only used on Plugin Settings page */

#wpwrap .ms-settings .ms-group-editor {
	display: none;
}

.memberdash-wnd.attribute-editor .button-link,
.memberdash-wnd.attribute-editor .button-link:hover {
	background: transparent;
}

.memberdash-wnd.attribute-editor .button-link.danger {
	color: #a00;
}

.memberdash-wnd.attribute-editor .button-link.danger:hover {
	color: #f00;
}

#wpwrap .ms-settings-addon_attribute .field-list tbody td:first-child {
	cursor: pointer;
	color: #0073aa;
}

#wpwrap .ms-settings-addon_attribute .field-list tbody td:first-child:hover {
	color: #00a0d2;
}

/* Styles used only in Membership Settings */

#wpwrap .ms-settings-addon_attribute .memberdash-wrapper {
	border: 0;
	margin-bottom: 15px;
}

#wpwrap .ms-settings-addon_attribute  .memberdash-textarea-wrapper {
	height: 100px;
}

#wpwrap .ms-settings-addon_attribute  textarea.memberdash-field-input {
	min-height: 100px;
	max-height: 100px;
}
